@import "./default.css";
/*CONTENEDOR FORMULARIO*/
.box-form {
    margin: 0 auto;
    width: 80%;
    height: 42rem;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #3d3d3d85;
    margin-bottom: 5%;
  }

/* FORMULARIO IZQ*/
  .box-form div {
    height: auto;
  }
  .box-form .form-left {/*FONDO REGISTRO IZQ*/
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/img/login.jpg");
    overflow: hidden;
  }
  .box-form .form-left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #59595cad;
    box-sizing: border-box;
  }
  .box-form .form-left .overlay h1 {
    font-size: 10em;
    line-height: 2;
    font-weight:900;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
/* FORMULARIO DERECHA*/
  .box-form .form-right {
    padding: 40px;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }
  .box-form .form-right h5 {
    font-size: 6em;
    text-align: center;
    
  }
  .box-form .form-right p {
    font-size: 14px;
    color: #B0B3B9;
    padding-top: 2rem;
  }
  .box-form .form-right .par-topSpace{
    padding-top: 4rem;
  }
  .box-form .form-right .inputs {
    overflow: hidden;
  }
  .box-form .form-right input {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
  }
  .box-form .form-right input:focus {
    border-color: black;
  }
  .box-form .form-right .brd-red {
    border-color: red;
  }
  .box-form .form-right .alert {
    color: red;
    font-size: small;
  }
  @media (max-width: 980px) {
    .box-form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
      height: auto;
      margin-bottom: 5%;
    }
    .box-form .form-left {
        width: 100%;
    }
    .box-form .form-left .overlay h1 {
      font-size: 3rem;
      text-align: center;
    }
    .box-form .form-right {
        width: 100%;
    }
    .box-form .form-right h5 {
      font-size: 2rem;
      padding-top: 0.2rem;
    }
    .box-form .form-right .par-topSpace{
      padding-top: 0.5rem;
    }
    .footer{
        position: relative;
        flex-direction: column;
    }
  }
  .box-form .form-right .sumbit {
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #5f5f5fa6;
    background-color: black;
  }
  @media (min-width: 980px) {
    .box-form .form-right{
      width: 35%;
    }
    .box-form .form-left{
      width: 65%;
    }
  }