* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: black;
}

.bg-header {
    background-image: url("http://localhost/assets/img/santos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-header.header-default::before {
    content: "";
    width: 100%;
    height: 100px;
    background-color: rgba(41, 42, 42, 0.9);
    position: absolute;
    top: 0px;
    left: 0px;
}


.w-full {
    width: 100%;
}
.w-half{
    width: 50%;
}

.w-third {
    width: 33%;
}

.header-default {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
}

.hDiv {
    width: 50%;
    z-index: 1;
}

.logo {
    color: white;
}
.hRight{
    display: flex;
    
}
.logoContainer{
    width: 10%;
    float: right;
}
.publiContainer{
    width: 90%;
}
.userImg {
    float: right;
}
.userImg:hover{
    background-color: gray;
    border-radius: 50%;
}
.publicar{
    background-color: transparent;
    border: 2px solid white;
    font-size: larger;
    color: white;
    border-radius: 6px;
    float: right;
    height: 60px;
    width: 10rem;
}
.publicar:hover{
    background-color: gray;
}
.publicar a{
    color: white;
    text-decoration: none;
}


.underHead {
    display: flex;
    height: 7rem;

}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    padding: 10px;
    font-size: large;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
    height: 2rem;
}

.lupa {
    border: 0;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: large;
    border-bottom: 2px solid #B0B3B9;
    height: 2rem;
}


.footer {
    padding: 1rem;
    background-color: #cdcccc;
    border-top: rgb(232, 232, 232) solid 1px;
    display: flex;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}

.fSpan {
    font-size: small;
    color: gray;
}

.underlined:hover {
    text-decoration: underline;
}

.fLinks {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    font-size: small;
    color: gray;
}

.fUnique {
    margin-right: 2rem;
}