.flex{
    display: flex;
}
.defaultContainer{
    padding: 2rem;
}
.mainContainer{
    margin: 0 auto;
    width: 50%;
    height: auto;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    /*border: 2px solid black;*/
    margin-bottom: 5%;
    margin-top: 2rem;
}
.imgContainer{
    width: 100%;
    height: 30rem;
    background-color: red;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
}
.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.typeImg{
    width: 90px;
    height: 90px;
    float: right;
}
.fieldsContainer{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    padding: 30px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
    border-radius: 10px;
}


/* MAP STYLES */
.mapContainer{
    margin: 0 auto;
    width: 50%;
    height: 400px;
    position: relative;

}
#map { 
    height: 100%; 
    width: 100%;
    background-color: #163E6F; 
 }
 .leaflet-container{
    outline: 0;
    overflow: hidden;
    height: 40vh;
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
 }
 .popup{
    font-size: large;
    font-weight: bold;
 }

.footer{
    position: relative;
}