body{
    margin: 0;
    font-family: Roboto;
}

a{
    text-decoration: none;
    color: black;
}
.bg-header{
    background: linear-gradient(to bottom right, #614385, #516395);
}
.w-full{
    width: 100%;
}
.header-default{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-bottom: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.header-title{
    color: white;
    font-size: xx-large;
    
    margin: auto;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    padding: 1rem;
    background-color: white;
    border-top: gray solid 1px;
    display: flex;
    align-items: center;
    text-align: center;
}
.fSpan{
    font-size: small;
    color: gray;
}
.underlined:hover{
    text-decoration: underline;
}
.fLinks{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.75rem;
    font-size: small;
    color: gray;
    gap: 2px;
}
.fUnique{
    margin-right: 2rem;
}